body{
    margin:0;
}
#background-img{
    display: block;
    position:absolute;
    width:100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    filter:grayscale(65%);
}
#mask{
    display: block;
    position:absolute;
    width:100%;
    height:100%;
    background-color: #2D2D34;
    opacity:0.75;
}
.nameDiv #name{
    display: none;
    position:absolute;
    text-align: center;
    vertical-align:text-top;
    height:auto;
    width:auto;
    top:30%;left:50%;
    margin:-58.5px 0 0 -412.3515px;
    font-family: consolas;
    font-size:100px;
    font-weight: bolder;
    color:#B97375;
}
#typing-title{
    display:block;
    position:absolute;
    font-family: consolas;
    height:1em;
    font-size:30px;
    text-align:center;
    vertical-align:middle;
    color:white;
    margin:0.5em 0 0 -5.5em;
    width:0em;
    left:50%;top:35%;
    border-right: .05em solid;
    animation-name:typing-effect-forward ,typing-caret;
    animation-iteration-count: infinite;
    animation-direction:alternate,normal;
    animation-duration: 3.7s,0.5s;
    animation-delay: 0s,0s;
    overflow:hidden;
    white-space: nowrap;
    animation-timing-function:steps(20),steps(1);
    animation-fill-mode: forwards;
}

@keyframes typing-effect-forward{
    from{width:0em;}
    to{width:11em;}
}
@keyframes typing-caret{
    50%{ border-color:transparent;}
}
.btn2Main{
    display: block;
    position: absolute;
    left:50%;top:45%;
    background-color: #2D2D34;
    border-style: double;
    color:#B97375;
    padding: auto;
    font-size:35px;
    margin:-23px 0 0 -186.797px;
    cursor:pointer;
}
.btn2Main:hover{
    transition-property: background-color;
    transition-timing-function: ease-out;
    transition-duration: 1s;
    background-color: #F0FFCE;
}


